.custom-root .MuiOutlinedInput-root fieldset {
  border: none; /* Remove the border */
  padding-bottom: 10px;
}

.custom-root .MuiOutlinedInput-root legend {
  display: none; /* Hide the legend */
}
